html{
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
    background-image: url(img/background.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a:link, a:visited{
    color:white;
}
body{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: center;
}

.choices{
    z-index: 1000000000000000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px 35vw 0 35vw;
}

a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.choices button{
    font-size: 36px;
    font-weight: 900;
    padding: 50px 25px 50px 25px;
    width: 400px;
}

.footer {
    display: flex;
    justify-content: center;
}

.navbutton {
    font-size: 36px;
    padding: 0em 1em 1.5em 1em;
    display: flex;
    justify-content: center;
    height: 5vh;
    width: 5vw;
    margin: 1vw;
    border-radius: 25%;
    background-color: #1e2328;
    color: #ead44d;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button:hover {
    background-color: gray;
}

.hints button {
    height: 8vh;
    width: 8vw;
}

.game {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50vw;
    background-color: black;
    text-align: center  ;
}

ul
{
  list-style-type: none;
}