html{
    color: white;
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

a:link, a:visited{
    color:white;
}
body{
    margin: 0;
    padding: 0;
}

.background{
    padding-bottom: 36.9vh;
}

.header{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.choices{
    z-index: 1000000000000000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px 35vw 0 35vw;
}

a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

button{
    font-size: 36px;
    font-weight: 900;
    padding: 50px 25px 50px 25px;
    width: 400px;
}